body {
  margin: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.love {
  position: relative;
  width: 400px;
  height: 400px;
}

.love .heart {
  width: 40px;
  height: 40px;
  position: absolute;
  background: url("https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTEwL3JtNDY3LWhlYXJ0LTAwMV8xLnBuZw.png");
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
